html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.univ{
	display: block;
	box-sizing:border-box;
}
.mobile-screen{
	width:405px;
	height:720px;
	background:#ccc;
	margin:24px auto;
	border: 1px solid #ccc;
	overflow: hidden;
}
.noti-panel{
	width: 100%;
	height: 27px;
	background: black;
}
.app-screen{
	width: 100%;
	height: 693px;
	background: #05274D;
	background-size: cover;
	background-repeat: no-repeat;
    transition: background 0.3s ease-in-out;
}
.tool-bar{
	position: relative;
	width: 100%;
	height: 60px;
	padding: 16px 20px;
	z-index: 2;
	background: rgba(0,0,0,0);
	transition: background 3s ease-in-out;
}
.icon{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 5;
}
.icon.menu{
	background: url('icons/menu.png');
	background-size: cover;
	left: 16px;
}
.icon.search{
	background: url('icons/search.png');
	background-size: cover;
	right: 16px;
}
.icon.backb{
	background: url('icons/backb.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}
.app-main{
	width: 100%;
	height: 580px;
	position: relative;
	text-align: center;
	font-family: Lato;
	color: white;
}
.logo-contain{
	position: absolute;
	width: 100%;
	top: 0;
	transition: top 0.3s ease-in-out;

}
.logo{
	width: 71px;
	height: 60px;
	margin: 0 auto;
	background: url('insider.png');
	background-size: cover;
	background-repeat: no-repeat;
	animation: logo-ani 0.7s 1 ease-in-out;
	animation-fill-mode: forwards;
	transition: background 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

@keyframes logo-ani{
	0% {transform: scale(1,1);}
	40% {transform: scale(1,1);}
	100% {transform: scale(0.65,0.65);}
}

.header-text{
	position: absolute;
	width: 100%;
	top: 14%;
	z-index: 4;
	padding: 0 24px;
	line-height: 36px;
	font-size: 30px;
	font-weight: 300;
	animation: appear-ani 0.7s 1 ease-in-out;
	transition: top 0.3s ease-in-out;
}

@keyframes appear-ani{
	0%   {top: 35%;font-size:40px;}
	30%   {top: 35%;font-size:40px;}
    100% {top: 14%;font-size:30px;}
}

.header-text h2{
	color: white;
	transition: opacity 0.3s ease-in-out;
}

.header-text h4{
	margin-top: 15px;
	font-size: 24px;
	font-weight: 600;
	animation: appear-ani2 0.7s 1 ease-in-out;
	transition: font-size 0.3s ease-in-out;
}

@keyframes appear-ani2{
	0%   {font-size:20px;margin-top: 17px;}
	30%   {font-size:20px;margin-top: 17px;}
    100% {font-size:24px;margin-top: 15px;}
}

.intro-sect{
	position: absolute;
	width: 100%;
	top: 72%;
	left: 0;
	transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}
.fun-icon{
	position: absolute;
	width: 40px;
	height: 40px;
	background-size: contain;
	left: 50%;
	margin-left: -20px;
}

.fun-icon.first{
	animation: icon-intro 2.5s 0.65s 1 linear;
	animation-fill-mode: forwards;
	z-index: 3;
}

@keyframes icon-intro{
	0%    {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/art.png');background-size: contain;}
	10%   {opacity:1;margin-left: -20px;transform: scale(1,1);}
	15%   {opacity:0;margin-left: -30px;transform: scale(1,1);background: url('icons/art.png');background-size: contain;}
	15.1% {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/black.png');background-size: contain;}
	25%   {opacity:1;margin-left: -20px;transform: scale(1,1);}
    30%   {opacity:0;margin-left: -30px;transform: scale(1,1);background: url('icons/black.png');background-size: contain;}
    30.1% {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/cup.png');background-size: contain;}
	40%   {opacity:1;margin-left: -20px;transform: scale(1,1);}
    45%   {opacity:0;margin-left: -30px;transform: scale(1,1);background: url('icons/cup.png');background-size: contain}
    45.1% {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/devil.png');background-size: contain;}
	55%   {opacity:1;margin-left: -20px;transform: scale(1,1);}
    60%   {opacity:0;margin-left: -30px;transform: scale(1,1);background: url('icons/devil.png');background-size: contain}
    60.1% {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/drink.png');background-size: contain;}
	70%   {opacity:1;margin-left: -20px;transform: scale(1,1);}
    75%   {opacity:0;margin-left: -30px;transform: scale(1,1);background: url('icons/drink.png');background-size: contain;}
    75.1% {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/icon.png');background-size: contain;}
	85%   {opacity:1;margin-left: -20px;transform: scale(1,1);}
    90%   {opacity:0;margin-left: -30px;transform: scale(1,1);background: url('icons/icon.png');background-size: contain;}
    90.1% {opacity:0;margin-left: -20px;transform: scale(0.5,0.5);background: url('icons/arrows.png');background-size: contain;}
    99.99%  {opacity:1;margin-left: -20px;transform: scale(1,1);background: url('icons/arrows.png');background-size: contain;}
    100%   {opacity: 0}
}


.fun-icon.second{
	background: url('icons/arrows.png');
	background-size: contain;
	opacity: 0;
	z-index: 3;
	animation: icon-slide 0.5s 3.15s 1 linear;
	animation-fill-mode: forwards;
	background-repeat: no-repeat;
}

@keyframes icon-slide{
	0%	{opacity: 1;margin-left: -20px;}
	30%	{opacity: 1;margin-left: -20px;}
	100%{opacity: 1;margin-left: 51px;}
}

.slide-text{
	position: absolute;
	top: 7px;
	left: 184px;
	z-index: 1;
	color: white;
	text-transform: lowercase;
	letter-spacing: 0.5px; 
	font-size: 21px;
	font-weight: 200;
	animation: text-slide 0.5s 3.15s 1 linear;
	animation-fill-mode: forwards;
}

@keyframes text-slide{
	0%	{left: 184px;}
	30%	{left: 184px;}
	100%{left: 112px;}
}

.icon-back{
	position: absolute;
	left: 184px;
	width: 200px;
	height: 40px;
	z-index: 2;
	background: #05274D;
/*	background-image: url('bg.png');
	background-position: 279px 53px;
    background-size: 115%;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
	animation: back-slide 0.5s 3.15s 1 linear;
	animation-fill-mode: forwards;
}

@keyframes back-slide{
	0%	{opacity: 1;left: 184px;}
	30%	{opacity: 1;left: 184px;}
	99.99%	{opacity: 1;}
	100%{opacity: 0;left: 242px;}
}

.card-list{
	position: absolute;
	z-index: 1;
	opacity: 0;
	top: 6%;
	left: 0;
	animation-fill-mode: forwards;
	transition: opacity 0.3s ease-in-out;
}

.cards{
	position: absolute;
	width: 340px;
	height: 340px;
    padding: 14px;
	border-radius: 340px;
    box-shadow: 0 4px 15px -3px #191919;
    opacity: 0.3;
}

.cards::after{
	content:"5 events near you";
	position: absolute;
    top: 280px;
    left: 0;
	width: 100%;
	text-align: center;
    font-weight: 200;
}

.cards .answer-text{
	position: absolute;
    width: 100%;
    top: 115%;
    left: 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 36px;
    padding: 0 24px;
    opacity: 0;
}

.cards .card-icon{
	position: absolute;
	width: 54px;
	height: 54px;
	top: 50%;
	left: 50%;
	margin-top: -27px;
	margin-left: -27px;
}

.half{
	position: absolute;
	top: 25%;
	z-index: 10;
}

.half.left{
	left: 0;
	width: 50%;
	height: 170px;
}

.half.right{
    right: 0;
    width: 50%;
    height: 170px;
}

.half.bottom{
	top: 74%;
	left: 0;
	width: 100%;
	height: 85px;
}

.comedy{
	background: url('comedy.jpg');
	background-position: -110px;
	background-size: cover;
	background-repeat: no-repeat;
	top: 140px;
	left: 387.5px;
    transition: left 0.3s cubic-bezier(0.05, 0.02, 1, 1), top 0.3s cubic-bezier(0.32, 0.63, 0.66, 0.99), transform 0.3s linear;
    transform: rotate(37.6deg);
    box-sizing:border-box;
}

.comedy .card-icon{
	background: url('icons/art.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.music{
	background: url('music.jpg');
	/*background-position: -200px;*/
	background-size: cover;
	background-repeat: no-repeat;
	top: 140px;
	left: 742.5px;
	transition: left 0.3s ease-in-out;
}

.music .card-icon{
	background: url('icons/devil.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.getout{
	background: url('getout.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	left: 1000px;
	transition: left 0.3s ease-in-out;
}

.getout .card-icon{
	background: url('icons/mountain.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.food{
	background: url('food.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	left: 1300px;
	transition: left 0.3s ease-in-out;
}

.food .card-icon{
	background: url('icons/cup.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.alcohol{
	background: url('alcohol.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	left: 1600px;
	transition: left 0.3s ease-in-out;
}

.alcohol .card-icon{
	background: url('icons/drink.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.do-home{
	background: url('do-home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	left: 1600px;
	transition: left 0.3s ease-in-out;
}

.do-home .card-icon{
	background: url('icons/sofa.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.do-home::after{
	content: none;
}

.card-page{
	overflow: scroll;
	background: url('white.jpg');
	position: relative;
	background-position: 0;
	width: 405px;
	height: 640px;
	top: -95px !important;
	left: 0 !important;
	box-shadow: none;
	border-radius: 0;
}

.page-event{
	width: 100%;
	height: 290px;
	margin-bottom: 14px;
	box-shadow: rgb(204, 204, 204) 0px 2px 6px -1px;
    background: white;
    border-radius: 2px;
    display: none;
}

.page-event:last-child{
	margin-bottom: 0;
}

.event-image{
	width: 100%;
    height: 209px;
    background: url("aib1.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.event-details{
	height: 81px;
	color: black;
    font-family: 'Museo Sans';
    padding: 12px 14px;
    box-sizing:border-box;
}

.event-details span{
	float: left;
    width: 100%;
    display: block;
    margin-bottom: 7px;
    text-align: left;
}

.app-below{
	width: 405px;
	height: 53px;
	bottom: 0;
	z-index: 11;
	background: white;
	padding-top: 8px;
	border-top: 1px solid #ccc;
}

.explore{
	position: static;
	width: 36px;
	height: 36px;
	background: url('explore.png');
	background-size: contain;
	margin: auto;
}


